@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.sizing-img {
    width: 100%;
    height: calc(100vh - 50px);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    color: rgb(0, 0, 0);
}